.bot1 {
    color: white;
    background-color: red;
    border: double 2px rgb(255, 0, 0);
    margin-left: 57px;
}

table {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.74);
    margin-top: 35px;
    border: solid 3px white;
    border-radius: 10px;
    width: 900px;
    height: 500px;
    margin: 100px;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    color: white;
}

body {
    background-image: linear-gradient(to right, rgb(0, 47, 255), rgb(253, 4, 129));
}

.png1 {
    width: 750px;
    height: 750px;
    margin-left: 100px;
    float: left;
}

button {
    color: rgb(0, 0, 0);
    border: solid 1px rgb(0, 0, 0);
    border-radius: 15px;
}

.but {
    background-color: rgb(21, 253, 0);
    border-radius: 1px;
    width: 235px;
    height: 60px;
    border: solid 2px rgba(255, 255, 255, 0.74)
}