.bot1 {
    color: white;
    background-color: red;
    border: double 2px rgb(255, 0, 0);
    margin-left: 75px;
}

table {
    text-align: center;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.863);
    margin-top: 30px;
    margin-right: 750px;
    border: solid 3px white;
    border-radius: 10px;
}

.right {
    float: right;
    margin-right: 360px;
    margin-top: 150px;
}

h1 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    color: white;
}

body {
    background-image: linear-gradient(to right, rgb(0, 47, 255), rgb(253, 4, 129));
}

.png1 {
    width: 750px;
    height: 750px;
    margin-left: 100px;
    float: left;
}

button {
    color: rgb(0, 0, 0);
    border: solid 1px rgb(0, 0, 0);
    border-radius: 20px;
}