body {
    background-image: linear-gradient(to right, rgb(0, 47, 255), rgb(0, 119, 255));
}

.imgs {
    width: 370px;
    height: 550px;
    margin: 30px;
    border: solid 4px grey;
}

h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
}

h2 {
    text-align: center;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
    margin: 30px;
    color: white;
    margin-left: 75px;
    float: left;
    font-family: Cambria;
    font-size: 20px;
}

p2 {
    margin: 30px;
    color: white;
    margin-left: 265px;
    float: left;
    font-family: Cambria;
    font-size: 20px;
}

p3 {
    margin: 30px;
    color: white;
    margin-left: 360px;
    float: left;
    font-family: Cambria;
    font-size: 20px;
}

.vel {
    margin: 30px;
    color: rgb(255, 255, 255);
    margin-left: 110px;
    float: left;
    font-family: Cambria;
    font-size: 20px;
}

.dr {
    margin-left: 200px;
}

.morb {
    margin-left: 275px;
}

.fr {
    margin-left: 300px;
}

.st {
    margin-left: 280px;
}